/**
 * @file このCSSファイルは、画面を暗くする「ディマー」効果のスタイリングを定義します。
 * `body`要素を画面全体に広げ、背景色を黒に設定することで、
 * このウィンドウが他のコンテンツの上に重なった際に、画面が暗くなったように見せる効果を生み出します。
 */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
