body {
  margin: 0;
  padding: 0;
  animation: flash 0.4s ease-out;
  background-color: white;
  opacity: 0;
}

@keyframes flash {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
